.amazon-link{
    color: rgb(0, 113, 133);
}
.amazon-link:hover{
    color: rgb(255, 0, 0);
}
.title{
    font-weight: bold;
    font-size: 24px;
}
.price{
    font-weight: bold;
    color:rgb(0, 118, 0);
}
.cart-btn{
    background-color: rgb(255, 216, 20);
    height: 25px;
    width: 105px;
    border:none;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
}
.cart-btn:hover{
    background-color: rgb(233, 198, 23);;
}
.cart-btn:active{
    opacity: 0.5;
}

.buy-btn{
    background-color: rgb(255, 164, 28);
    height: 25px;
    width: 105px;
    border:none;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
}
.buy-btn:hover{
    background-color: rgb(228, 146, 23);;
}
.buy-btn:active{
    opacity: 0.5;
}